<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cu.tt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WeeklyReportActivity"></activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".SetAlarmActivity" />
        <activity android:name=".SettingAcivity" />
        <activity android:name=".RollCallActivity" />
        <activity android:name=".AlarmActivity" />
        <activity android:name=".UpdateActivity" />
        <activity
            android:name=".InfoActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".AddActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_add"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".FriActivity" />
        <activity android:name=".ThuActivity" />
        <activity android:name=".WedActivity" />
        <activity android:name=".TueActivity" />
        <activity android:name=".MonActivity" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Alarm.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Alarm.AlarmService"
            android:enabled="true"
            android:exported="false" />
    </application>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.SET_ALARM" />

</manifest>